--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.0+cu116
torchvision==0.14.0+cu116
torchaudio==0.13.0 
transformers==4.31.0
diffusers==0.24.0
opencv-python==4.10.0.84
scipy==1.14.1
numpy==1.26.0
huggingface-hub==0.23.2
omegaconf==2.3.0
imageio==2.36.0
IPython==8.29.0
einops==0.8.0
ftfy==6.3.0
pytorch_lightning==2.2.0
accelerate==1.0.1
sentencepiece==0.2.0